<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Aboutd
        link(rel="stylesheet", href="/about.bundle.css")
    body
        h1 Aboutdeddede
        img(src="./bg.jpeg", alt="")
        script(src="/about.bundle.js")